[Unit]
Description=Hello Pomelo Backend (NestJS)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/suivi-collaborateurs-hello-pomelo/backend
ExecStart=/home/ubuntu/.local/share/fnm/node-versions/v20.20.2/installation/bin/npx ts-node src/main.ts
Restart=on-failure
RestartSec=5
Environment=PORT=4000
Environment=PATH=/home/ubuntu/.local/share/fnm/node-versions/v20.20.2/installation/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
EnvironmentFile=/home/ubuntu/suivi-collaborateurs-hello-pomelo/backend/.env

[Install]
WantedBy=multi-user.target
